/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss";
body {
  background-color: rgb(218, 207, 207);
  color: white
}

/* --- Estilos para la barra de scroll personalizada (para navegadores WebKit como Chrome, Safari, Edge) --- */

/* La barra de scroll horizontal */
::-webkit-scrollbar {
  height: 8px; /* Altura de la barra horizontal */
  width: 8px;  /* Ancho de la barra vertical */
}

/* El fondo de la barra (el track) */
::-webkit-scrollbar-track {
  background: rgba(19, 20, 22, 0.4);
  border-radius: 10px;
}

/* El manejador del scroll (el thumb) */
::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #212225, #9ca3af); 
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/* El manejador al pasar el mouse por encima */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, #9ca3af, #d1d5db);
}

/* --- Animación para el Spinner --- */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Aplicamos la animación a cualquier elemento con la clase 'spinner' */
.spinner {
  animation: spin 1s linear infinite;
}